
@{
    ViewBag.Title = "ExecutiveBoard";
    Layout = "~/Areas/Alumini/Views/Shared/_SRKRDesignLayout.cshtml";
}

<section class="nicdark_section nicdark_imgparallax nicdark_parallax_img1" id="nicdark_parallax_counter" style="background-position: 50% -36px;">
    <div class="nicdark_filter greydark">
        <!--start nicdark_container-->
        <div class="nicdark_container nicdark_clearfix">
            <div class="nicdark_space100"></div>
            <div class="nicdark_space100"></div>
            <div class="nicdark_space100"></div>
            <div class="nicdark_space100"></div>
        </div>
        <!--end nicdark_container-->
    </div>

</section>

<section class="nicdark_section executive-board">
    <!--start nicdark_container-->
    <div class="nicdark_container nicdark_clearfix">

        <div class="nicdark_space50"></div>

        <div class="grid grid_12">
            <h1 class="subtitle greydark">Coordination Committee Members</h1>
            <div class="nicdark_space20"></div>
            <h3 class="subtitle grey"></h3>
            <div class="nicdark_space20"></div>
            <div class="nicdark_divider left big"><span class="nicdark_bg_blue nicdark_radius"></span></div>
            <div class="nicdark_space10"></div>
        </div>

        <div class="grid grid_3">

            <div class="nicdark_archive1 nicdark_bg_grey nicdark_radius nicdark_shadow center">
                <div class="nicdark_textevidence nicdark_bg_greydark nicdark_radius_top">
                    <h4 class="white nicdark_margin20">Myneni.Venu</h4>
                </div>
                <img src="~/UserPostingImages/BoardMembers/Venu.jpg" alt="" class="nicdark_opacity">
                <div class="nicdark_textevidence nicdark_bg_blue">
                    <h5 class="white nicdark_margin20">President</h5>
                    <i class="icon-brush nicdark_iconbg right medium blue"></i>
                </div>

                <div class="nicdark_textevidence">
                    <div class="nicdark_margin10">
                        <p>vmyneni@radiants.com</p>
                        <p>9611965555</p>
                        <div class="nicdark_space20 nicdark_displaynone_ipadpotr"></div>

                        @*<a class="nicdark_displaynone_ipadpotr nicdark_btn_icon nicdark_tooltip nicdark_bg_blue medium nicdark_shadow nicdark_radius_circle white nicdark_margin010" href="#" title="CURRICULUM"><i class="icon-download-outline nicdark_rotate"></i></a>
                            <a class="nicdark_displaynone_ipadpotr nicdark_btn_icon nicdark_tooltip nicdark_bg_blue medium nicdark_shadow nicdark_radius_circle white nicdark_margin010" href="#" title="DOCUMENTS"><i class="icon-attach-outline nicdark_rotate"></i></a>
                            <a class="nicdark_displaynone_ipadpotr nicdark_btn_icon nicdark_tooltip nicdark_bg_blue medium nicdark_shadow nicdark_radius_circle white nicdark_margin010" href="#" title="COURSES"><i class="icon-mic-outline nicdark_rotate"></i></a>*@
                    </div>
                </div>
            </div>

        </div>

        <div class="grid grid_3">

            <div class="nicdark_archive1 nicdark_bg_grey nicdark_radius nicdark_shadow center">
                <div class="nicdark_textevidence nicdark_bg_greydark nicdark_radius_top">
                    <h4 class="white nicdark_margin20">J.V. Narasimha Raju</h4>
                </div>
                <img src="~/UserPostingImages/BoardMembers/Narasimha.jpg" alt="" class="nicdark_opacity">
                <div class="nicdark_textevidence nicdark_bg_yellow">
                    <h5 class="white nicdark_margin20">Vice - President</h5>
                    <i class="icon-music-outline nicdark_iconbg right medium yellow"></i>
                </div>

                <div class="nicdark_textevidence">
                    <div class="nicdark_margin10">
                        <p>jvnraju@gmail.com</p>
                        <p>9848462026</p>
                        <div class="nicdark_space20 nicdark_displaynone_ipadpotr"></div>

                        @*<a class="nicdark_displaynone_ipadpotr nicdark_btn_icon nicdark_tooltip nicdark_bg_yellow medium nicdark_shadow nicdark_radius_circle white nicdark_margin010" href="#" title="CURRICULUM"><i class="icon-download-outline nicdark_rotate"></i></a>
                            <a class="nicdark_displaynone_ipadpotr nicdark_btn_icon nicdark_tooltip nicdark_bg_yellow medium nicdark_shadow nicdark_radius_circle white nicdark_margin010" href="#" title="DOCUMENTS"><i class="icon-attach-outline nicdark_rotate"></i></a>
                            <a class="nicdark_displaynone_ipadpotr nicdark_btn_icon nicdark_tooltip nicdark_bg_yellow medium nicdark_shadow nicdark_radius_circle white nicdark_margin010" href="#" title="COURSES"><i class="icon-mic-outline nicdark_rotate"></i></a>*@
                    </div>
                </div>
            </div>

        </div>

        <div class="grid grid_3">

            <div class="nicdark_archive1 nicdark_bg_grey nicdark_radius nicdark_shadow center">
                <div class="nicdark_textevidence nicdark_bg_greydark nicdark_radius_top">
                    <h4 class="white nicdark_margin20">P.S. Mohan Kumar</h4>
                </div>
                <img src="~/UserPostingImages/BoardMembers/Mohan.jpg" alt="" class="nicdark_opacity">
                <div class="nicdark_textevidence nicdark_bg_orange">
                    <h5 class="white nicdark_margin20">Chief Operating Officer</h5>
                    <i class="icon-dribbble nicdark_iconbg right medium orange"></i>
                </div>

                <div class="nicdark_textevidence">
                    <div class="nicdark_margin10">
                        <p>md@sivanipumps.com</p>
                        <p>9346299766</p>
                        <div class="nicdark_space20 nicdark_displaynone_ipadpotr"></div>

                        @*<a class="nicdark_displaynone_ipadpotr nicdark_btn_icon nicdark_tooltip nicdark_bg_orange medium nicdark_shadow nicdark_radius_circle white nicdark_margin010" href="#" title="CURRICULUM"><i class="icon-download-outline nicdark_rotate"></i></a>
                            <a class="nicdark_displaynone_ipadpotr nicdark_btn_icon nicdark_tooltip nicdark_bg_orange medium nicdark_shadow nicdark_radius_circle white nicdark_margin010" href="#" title="DOCUMENTS"><i class="icon-attach-outline nicdark_rotate"></i></a>
                            <a class="nicdark_displaynone_ipadpotr nicdark_btn_icon nicdark_tooltip nicdark_bg_orange medium nicdark_shadow nicdark_radius_circle white nicdark_margin010" href="#" title="COURSES"><i class="icon-mic-outline nicdark_rotate"></i></a>*@
                    </div>
                </div>
            </div>

        </div>

        <div class="grid grid_3">

            <div class="nicdark_archive1 nicdark_bg_grey nicdark_radius nicdark_shadow center">
                <div class="nicdark_textevidence nicdark_bg_greydark nicdark_radius_top">
                    <h4 class="white nicdark_margin20">V.K.Viswanadha Raju</h4>
                </div>
                <img src="~/UserPostingImages/BoardMembers/Viswanadha.jpg" alt="" class="nicdark_opacity">
                <div class="nicdark_textevidence nicdark_bg_red">
                    <h5 class="white nicdark_margin20">Chief Financial Officer</h5>
                    <i class="icon-tree-1 nicdark_iconbg right medium red"></i>
                </div>

                <div class="nicdark_textevidence">
                    <div class="nicdark_margin10">
                        <p>kvraju.vegesna@rediffmail.com</p>
                        <p>9866311366</p>
                        <div class="nicdark_space20 nicdark_displaynone_ipadpotr"></div>

                        @*<a class="nicdark_displaynone_ipadpotr nicdark_btn_icon nicdark_tooltip nicdark_bg_red medium nicdark_shadow nicdark_radius_circle white nicdark_margin010" href="#" title="CURRICULUM"><i class="icon-download-outline nicdark_rotate"></i></a>
                            <a class="nicdark_displaynone_ipadpotr nicdark_btn_icon nicdark_tooltip nicdark_bg_red medium nicdark_shadow nicdark_radius_circle white nicdark_margin010" href="#" title="DOCUMENTS"><i class="icon-attach-outline nicdark_rotate"></i></a>
                            <a class="nicdark_displaynone_ipadpotr nicdark_btn_icon nicdark_tooltip nicdark_bg_red medium nicdark_shadow nicdark_radius_circle white nicdark_margin010" href="#" title="COURSES"><i class="icon-mic-outline nicdark_rotate"></i></a>*@
                    </div>
                </div>
            </div>

        </div>

        <div class="grid grid_3">

            <div class="nicdark_archive1 nicdark_bg_grey nicdark_radius nicdark_shadow center">
                <div class="nicdark_textevidence nicdark_bg_greydark nicdark_radius_top">
                    <h4 class="white nicdark_margin20">Y.Rajasekhar Babu</h4>
                </div>
                <img src="~/UserPostingImages/BoardMembers/Rajasekhar.jpg" alt="" class="nicdark_opacity">
                <div class="nicdark_textevidence nicdark_bg_red">
                    <h5 class="white nicdark_margin20">Director</h5>
                    <i class="icon-tree-1 nicdark_iconbg right medium red"></i>
                </div>

                <div class="nicdark_textevidence">
                    <div class="nicdark_margin10">
                        <p>raj.yarlagadda@peoplecombine.com</p>
                        <p>9848091111</p>
                        <div class="nicdark_space20 nicdark_displaynone_ipadpotr"></div>

                        @*<a class="nicdark_displaynone_ipadpotr nicdark_btn_icon nicdark_tooltip nicdark_bg_red medium nicdark_shadow nicdark_radius_circle white nicdark_margin010" href="#" title="CURRICULUM"><i class="icon-download-outline nicdark_rotate"></i></a>
                            <a class="nicdark_displaynone_ipadpotr nicdark_btn_icon nicdark_tooltip nicdark_bg_red medium nicdark_shadow nicdark_radius_circle white nicdark_margin010" href="#" title="DOCUMENTS"><i class="icon-attach-outline nicdark_rotate"></i></a>
                            <a class="nicdark_displaynone_ipadpotr nicdark_btn_icon nicdark_tooltip nicdark_bg_red medium nicdark_shadow nicdark_radius_circle white nicdark_margin010" href="#" title="COURSES"><i class="icon-mic-outline nicdark_rotate"></i></a>*@
                    </div>
                </div>
            </div>

        </div>
        <div class="grid grid_3">

            <div class="nicdark_archive1 nicdark_bg_grey nicdark_radius nicdark_shadow center">
                <div class="nicdark_textevidence nicdark_bg_greydark nicdark_radius_top">
                    <h4 class="white nicdark_margin20">N.Sridhar</h4>
                </div>
                <img src="~/UserPostingImages/BoardMembers/Sridhar.jpg" alt="" class="nicdark_opacity">
                <div class="nicdark_textevidence nicdark_bg_red">
                    <h5 class="white nicdark_margin20">Director</h5>
                    <i class="icon-tree-1 nicdark_iconbg right medium red"></i>
                </div>

                <div class="nicdark_textevidence">
                    <div class="nicdark_margin10">
                        <p>sridhar@kireetisoft.com</p>
                        <p>9849086644</p>
                        <div class="nicdark_space20 nicdark_displaynone_ipadpotr"></div>

                        @*<a class="nicdark_displaynone_ipadpotr nicdark_btn_icon nicdark_tooltip nicdark_bg_red medium nicdark_shadow nicdark_radius_circle white nicdark_margin010" href="#" title="CURRICULUM"><i class="icon-download-outline nicdark_rotate"></i></a>
                            <a class="nicdark_displaynone_ipadpotr nicdark_btn_icon nicdark_tooltip nicdark_bg_red medium nicdark_shadow nicdark_radius_circle white nicdark_margin010" href="#" title="DOCUMENTS"><i class="icon-attach-outline nicdark_rotate"></i></a>
                            <a class="nicdark_displaynone_ipadpotr nicdark_btn_icon nicdark_tooltip nicdark_bg_red medium nicdark_shadow nicdark_radius_circle white nicdark_margin010" href="#" title="COURSES"><i class="icon-mic-outline nicdark_rotate"></i></a>*@
                    </div>
                </div>
            </div>

        </div>


        <div class="grid grid_3">

            <div class="nicdark_archive1 nicdark_bg_grey nicdark_radius nicdark_shadow center">
                <div class="nicdark_textevidence nicdark_bg_greydark nicdark_radius_top">
                    <h4 class="white nicdark_margin20">T.V.Prasad</h4>
                </div>
                <img src="~/UserPostingImages/BoardMembers/Prasad.jpg" alt="" class="nicdark_opacity">
                <div class="nicdark_textevidence nicdark_bg_red">
                    <h5 class="white nicdark_margin20">Director</h5>
                    <i class="icon-tree-1 nicdark_iconbg right medium red"></i>
                </div>

                <div class="nicdark_textevidence">
                    <div class="nicdark_margin10">
                        <p>anutvprasad@yahoo.co.in</p>
                        <p>9945539898</p>
                        <div class="nicdark_space20 nicdark_displaynone_ipadpotr"></div>

                        @*<a class="nicdark_displaynone_ipadpotr nicdark_btn_icon nicdark_tooltip nicdark_bg_red medium nicdark_shadow nicdark_radius_circle white nicdark_margin010" href="#" title="CURRICULUM"><i class="icon-download-outline nicdark_rotate"></i></a>
                            <a class="nicdark_displaynone_ipadpotr nicdark_btn_icon nicdark_tooltip nicdark_bg_red medium nicdark_shadow nicdark_radius_circle white nicdark_margin010" href="#" title="DOCUMENTS"><i class="icon-attach-outline nicdark_rotate"></i></a>
                            <a class="nicdark_displaynone_ipadpotr nicdark_btn_icon nicdark_tooltip nicdark_bg_red medium nicdark_shadow nicdark_radius_circle white nicdark_margin010" href="#" title="COURSES"><i class="icon-mic-outline nicdark_rotate"></i></a>*@
                    </div>
                </div>
            </div>

        </div>

        <div class="grid grid_3">

            <div class="nicdark_archive1 nicdark_bg_grey nicdark_radius nicdark_shadow center">
                <div class="nicdark_textevidence nicdark_bg_greydark nicdark_radius_top">
                    <h4 class="white nicdark_margin20">D.Sridhar</h4>
                </div>
                <img src="~/UserPostingImages/BoardMembers/DSridhar.jpg" alt="" class="nicdark_opacity">
                <div class="nicdark_textevidence nicdark_bg_red">
                    <h5 class="white nicdark_margin20">Director</h5>
                    <i class="icon-tree-1 nicdark_iconbg right medium red"></i>
                </div>

                <div class="nicdark_textevidence">
                    <div class="nicdark_margin10">
                        <p>sridhar.mp@gmail.com</p>
                        <p>09620461119</p>
                        <div class="nicdark_space20 nicdark_displaynone_ipadpotr"></div>

                        @*<a class="nicdark_displaynone_ipadpotr nicdark_btn_icon nicdark_tooltip nicdark_bg_red medium nicdark_shadow nicdark_radius_circle white nicdark_margin010" href="#" title="CURRICULUM"><i class="icon-download-outline nicdark_rotate"></i></a>
                            <a class="nicdark_displaynone_ipadpotr nicdark_btn_icon nicdark_tooltip nicdark_bg_red medium nicdark_shadow nicdark_radius_circle white nicdark_margin010" href="#" title="DOCUMENTS"><i class="icon-attach-outline nicdark_rotate"></i></a>
                            <a class="nicdark_displaynone_ipadpotr nicdark_btn_icon nicdark_tooltip nicdark_bg_red medium nicdark_shadow nicdark_radius_circle white nicdark_margin010" href="#" title="COURSES"><i class="icon-mic-outline nicdark_rotate"></i></a>*@
                    </div>
                </div>
            </div>

        </div>
        <div class="grid grid_3">

            <div class="nicdark_archive1 nicdark_bg_grey nicdark_radius nicdark_shadow center">
                <div class="nicdark_textevidence nicdark_bg_greydark nicdark_radius_top">
                    <h4 class="white nicdark_margin20">G.V.Kiran Kumar</h4>
                </div>
                <img src="~/UserPostingImages/BoardMembers/Kiran.jpg" alt="" class="nicdark_opacity">
                <div class="nicdark_textevidence nicdark_bg_red">
                    <h5 class="white nicdark_margin20">Director</h5>
                    <i class="icon-tree-1 nicdark_iconbg right medium red"></i>
                </div>

                <div class="nicdark_textevidence">
                    <div class="nicdark_margin10">
                        <p>kiran_sktc@yahoo.com</p>
                        <p>9490588888</p>
                        <div class="nicdark_space20 nicdark_displaynone_ipadpotr"></div>

                        @*<a class="nicdark_displaynone_ipadpotr nicdark_btn_icon nicdark_tooltip nicdark_bg_red medium nicdark_shadow nicdark_radius_circle white nicdark_margin010" href="#" title="CURRICULUM"><i class="icon-download-outline nicdark_rotate"></i></a>
                            <a class="nicdark_displaynone_ipadpotr nicdark_btn_icon nicdark_tooltip nicdark_bg_red medium nicdark_shadow nicdark_radius_circle white nicdark_margin010" href="#" title="DOCUMENTS"><i class="icon-attach-outline nicdark_rotate"></i></a>
                            <a class="nicdark_displaynone_ipadpotr nicdark_btn_icon nicdark_tooltip nicdark_bg_red medium nicdark_shadow nicdark_radius_circle white nicdark_margin010" href="#" title="COURSES"><i class="icon-mic-outline nicdark_rotate"></i></a>*@
                    </div>
                </div>
            </div>

        </div>
        <div class="grid grid_3">

            <div class="nicdark_archive1 nicdark_bg_grey nicdark_radius nicdark_shadow center">
                <div class="nicdark_textevidence nicdark_bg_greydark nicdark_radius_top">
                    <h4 class="white nicdark_margin20">P.Satyanarayana Raju</h4>
                </div>
                <img src="~/UserPostingImages/BoardMembers/Satyanarayana.jpg" alt="" class="nicdark_opacity">
                <div class="nicdark_textevidence nicdark_bg_red">
                    <h5 class="white nicdark_margin20">Director</h5>
                    <i class="icon-tree-1 nicdark_iconbg right medium red"></i>
                </div>

                <div class="nicdark_textevidence">
                    <div class="nicdark_margin10">
                        <p>appusrkr.raju1119@gmail.com</p>
                        <p>9949311116</p>
                        <div class="nicdark_space20 nicdark_displaynone_ipadpotr"></div>

                        @*<a class="nicdark_displaynone_ipadpotr nicdark_btn_icon nicdark_tooltip nicdark_bg_red medium nicdark_shadow nicdark_radius_circle white nicdark_margin010" href="#" title="CURRICULUM"><i class="icon-download-outline nicdark_rotate"></i></a>
                            <a class="nicdark_displaynone_ipadpotr nicdark_btn_icon nicdark_tooltip nicdark_bg_red medium nicdark_shadow nicdark_radius_circle white nicdark_margin010" href="#" title="DOCUMENTS"><i class="icon-attach-outline nicdark_rotate"></i></a>
                            <a class="nicdark_displaynone_ipadpotr nicdark_btn_icon nicdark_tooltip nicdark_bg_red medium nicdark_shadow nicdark_radius_circle white nicdark_margin010" href="#" title="COURSES"><i class="icon-mic-outline nicdark_rotate"></i></a>*@
                    </div>
                </div>
            </div>

        </div>
        <div class="grid grid_3">

            <div class="nicdark_archive1 nicdark_bg_grey nicdark_radius nicdark_shadow center">
                <div class="nicdark_textevidence nicdark_bg_greydark nicdark_radius_top">
                    <h4 class="white nicdark_margin20">P.U.N.Varma</h4>
                </div>
                <img src="~/UserPostingImages/BoardMembers/Varma.jpg" alt="" class="nicdark_opacity">
                <div class="nicdark_textevidence nicdark_bg_red">
                    <h5 class="white nicdark_margin20">Director</h5>
                    <i class="icon-tree-1 nicdark_iconbg right medium red"></i>
                </div>

                <div class="nicdark_textevidence">
                    <div class="nicdark_margin10">
                        <p>gr8varma@gmail.com</p>
                        <p>9849112233</p>
                        <div class="nicdark_space20 nicdark_displaynone_ipadpotr"></div>

                        @*<a class="nicdark_displaynone_ipadpotr nicdark_btn_icon nicdark_tooltip nicdark_bg_red medium nicdark_shadow nicdark_radius_circle white nicdark_margin010" href="#" title="CURRICULUM"><i class="icon-download-outline nicdark_rotate"></i></a>
                            <a class="nicdark_displaynone_ipadpotr nicdark_btn_icon nicdark_tooltip nicdark_bg_red medium nicdark_shadow nicdark_radius_circle white nicdark_margin010" href="#" title="DOCUMENTS"><i class="icon-attach-outline nicdark_rotate"></i></a>
                            <a class="nicdark_displaynone_ipadpotr nicdark_btn_icon nicdark_tooltip nicdark_bg_red medium nicdark_shadow nicdark_radius_circle white nicdark_margin010" href="#" title="COURSES"><i class="icon-mic-outline nicdark_rotate"></i></a>*@
                    </div>
                </div>
            </div>

        </div>

        <div class="grid grid_3">

            <div class="nicdark_archive1 nicdark_bg_grey nicdark_radius nicdark_shadow center">
                <div class="nicdark_textevidence nicdark_bg_greydark nicdark_radius_top">
                    <h4 class="white nicdark_margin20">M.Murali</h4>
                </div>
                <img src="~/UserPostingImages/BoardMembers/Murali.jpg" alt="" class="nicdark_opacity">
                <div class="nicdark_textevidence nicdark_bg_red">
                    <h5 class="white nicdark_margin20">Director</h5>
                    <i class="icon-tree-1 nicdark_iconbg right medium red"></i>
                </div>

                <div class="nicdark_textevidence">
                    <div class="nicdark_margin10">
                        <p>murali.mmr@gmail.com</p>
                        <p>9849754888</p>
                        <div class="nicdark_space20 nicdark_displaynone_ipadpotr"></div>

                        @*<a class="nicdark_displaynone_ipadpotr nicdark_btn_icon nicdark_tooltip nicdark_bg_red medium nicdark_shadow nicdark_radius_circle white nicdark_margin010" href="#" title="CURRICULUM"><i class="icon-download-outline nicdark_rotate"></i></a>
                            <a class="nicdark_displaynone_ipadpotr nicdark_btn_icon nicdark_tooltip nicdark_bg_red medium nicdark_shadow nicdark_radius_circle white nicdark_margin010" href="#" title="DOCUMENTS"><i class="icon-attach-outline nicdark_rotate"></i></a>
                            <a class="nicdark_displaynone_ipadpotr nicdark_btn_icon nicdark_tooltip nicdark_bg_red medium nicdark_shadow nicdark_radius_circle white nicdark_margin010" href="#" title="COURSES"><i class="icon-mic-outline nicdark_rotate"></i></a>*@
                    </div>
                </div>
            </div>

        </div>

        <div class="grid grid_3">

            <div class="nicdark_archive1 nicdark_bg_grey nicdark_radius nicdark_shadow center">
                <div class="nicdark_textevidence nicdark_bg_greydark nicdark_radius_top">
                    <h4 class="white nicdark_margin20">G.Krishna Mohan</h4>
                </div>
                <img src="~/UserPostingImages/BoardMembers/Krishna.jpg" alt="" class="nicdark_opacity">
                <div class="nicdark_textevidence nicdark_bg_red">
                    <h5 class="white nicdark_margin20">Director</h5>
                    <i class="icon-tree-1 nicdark_iconbg right medium red"></i>
                </div>

                <div class="nicdark_textevidence">
                    <div class="nicdark_margin10">
                        <p>kittu178@gmail.com</p>
                        <p>9966666667</p>
                        <div class="nicdark_space20 nicdark_displaynone_ipadpotr"></div>

                        @*<a class="nicdark_displaynone_ipadpotr nicdark_btn_icon nicdark_tooltip nicdark_bg_red medium nicdark_shadow nicdark_radius_circle white nicdark_margin010" href="#" title="CURRICULUM"><i class="icon-download-outline nicdark_rotate"></i></a>
                            <a class="nicdark_displaynone_ipadpotr nicdark_btn_icon nicdark_tooltip nicdark_bg_red medium nicdark_shadow nicdark_radius_circle white nicdark_margin010" href="#" title="DOCUMENTS"><i class="icon-attach-outline nicdark_rotate"></i></a>
                            <a class="nicdark_displaynone_ipadpotr nicdark_btn_icon nicdark_tooltip nicdark_bg_red medium nicdark_shadow nicdark_radius_circle white nicdark_margin010" href="#" title="COURSES"><i class="icon-mic-outline nicdark_rotate"></i></a>*@
                    </div>
                </div>
            </div>

        </div>
        <div class="grid grid_3">

            <div class="nicdark_archive1 nicdark_bg_grey nicdark_radius nicdark_shadow center">
                <div class="nicdark_textevidence nicdark_bg_greydark nicdark_radius_top">
                    <h4 class="white nicdark_margin20">V. Appala Raju</h4>
                </div>
                <img src="~/UserPostingImages/BoardMembers/Appala.jpg" alt="" class="nicdark_opacity">
                <div class="nicdark_textevidence nicdark_bg_red">
                    <h5 class="white nicdark_margin20">Director</h5>
                    <i class="icon-tree-1 nicdark_iconbg right medium red"></i>
                </div>

                <div class="nicdark_textevidence">
                    <div class="nicdark_margin10">
                        <p>appusrkr.raju1119@gmail.com</p>
                        <p>9949311116</p>
                        <div class="nicdark_space20 nicdark_displaynone_ipadpotr"></div>

                        @*<a class="nicdark_displaynone_ipadpotr nicdark_btn_icon nicdark_tooltip nicdark_bg_red medium nicdark_shadow nicdark_radius_circle white nicdark_margin010" href="#" title="CURRICULUM"><i class="icon-download-outline nicdark_rotate"></i></a>
                            <a class="nicdark_displaynone_ipadpotr nicdark_btn_icon nicdark_tooltip nicdark_bg_red medium nicdark_shadow nicdark_radius_circle white nicdark_margin010" href="#" title="DOCUMENTS"><i class="icon-attach-outline nicdark_rotate"></i></a>
                            <a class="nicdark_displaynone_ipadpotr nicdark_btn_icon nicdark_tooltip nicdark_bg_red medium nicdark_shadow nicdark_radius_circle white nicdark_margin010" href="#" title="COURSES"><i class="icon-mic-outline nicdark_rotate"></i></a>*@
                    </div>
                </div>
            </div>

        </div>

        <div class="nicdark_space50"></div>

    </div>
    <!--end nicdark_container-->

</section>




