@{
    ViewBag.Title = "Aboutus";
    Layout = "~/Views/Shared/_SRKRDesignLayout.cshtml";
}

<section class="nicdark_section nicdark_imgparallax nicdark_parallaxx_img6" id="nicdark_parallax_title" style="background-position: 50% 0px;">
    <div class="nicdark_filter greydark">
        <!--start nicdark_container-->
        <div class="nicdark_container nicdark_clearfix">
            <div class="grid grid_12">
                <div class="nicdark_space100"></div>
                <div class="nicdark_space100"></div>
                <h1 class="white subtitle">ABOUT ASSOCIATION</h1>
                <div class="nicdark_space10"></div>
                <h3 class="subtitle white"></h3>
                <div class="nicdark_space20"></div>
                <div class="nicdark_divider left big"><span class="nicdark_bg_white nicdark_radius"></span></div>
                <div class="nicdark_space40"></div>
                <div class="nicdark_space50"></div>
            </div>
        </div>
        <!--end nicdark_container-->
    </div>

</section>

<section class="nicdark_section">
    <!--start nicdark_container-->
    <div class="nicdark_container nicdark_clearfix">
        <div class="nicdark_space50"></div>
        <div class="grid grid_8">

            <p>
                <span class="white nicdark_dropcap nicdark_bg_yellow nicdark_radius nicdark_shadow">S</span><b>
                    RKR Engineering College Alumni Association

                    SRKR Engineering College (SRKREC)
                </b> has groomed many young men and women to be the world-class engineers since its establishment in the year 1980.

                The renowned alumni of SRKREC are now spread across the world, contributing to the society as Engineers, Teachers, Scientists and Entrepreneurs.
                <br /><br />
            <p>
                The Alumni is making SRKREC proud of its hard work in shaping these talented brains by winning laurels at national and international levels. SRKREC Alumni is proud to say that our alumni are at the helm of several organizations globally. Today SRKREC alumni have a significant presence in USA, Europe, Middle East and Asia.
                SRKREC Alumni Association was registered on 27th June 2007 under the Society Registration Act XXXV of 2001. The Association has brought all the earlier Alumni groups together and is the only recognized Alumni Association by the college.
            </p>
            <br />
            <h2>  Aims & Objectives:</h2>
            <p>
                <ul style="font-style: oblique;">
                    <li> To provide a forum to establish link between the alumni world-wide.</li>
                    <li> To provide a forum to establish a link between the alumni world-wide, staff and students of SRKREC, Bhimavaram.</li>
                    <li>To enable the alumni to initiate and actively participate in activities which would contribute to the general development of SRKREC, its staff and students.</li>
                    <li>To institute prizes and scholarships, and render financial aid to deserving students of SRKREC.</li>
                    <li>To organize and enable the networking and interaction activities of common interest among alumni of SRKREC.</li>
                    <li>To maintain a benevolent fund to help individual member of alumni in case of distress.</li>
                    <li> To approve/promote establishment of units, chapters in different geographical locations having adequate congregation of alumni members.</li>
                    <li>To do all such things as may be deemed incidental or conducive to the attainment of the foregoing objects.</li>
                </ul>
            </p>



            <div class="nicdark_space50"></div>

            <h3 class="subtitle greydark">MORE INFORMATIONS</h3>
            <div class="nicdark_space20"></div>
            <div class="nicdark_divider left small"><span class="nicdark_bg_violet nicdark_radius"></span></div>
            <div class="nicdark_space20"></div>


            <!--start nicdark_tabs-->
            <div class="nicdark_tab ui-tabs ui-widget ui-widget-content ui-corner-all">

                <ul class="nicdark_tabslist ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" role="tablist">
                    <li class="ui-state-default ui-corner-top ui-tabs-active ui-state-active" role="tab" tabindex="0" aria-controls="tabs-1" aria-labelledby="ui-id-1" aria-selected="true"><a title="Executive Board" href="#tabs-1" class="nicdark_tooltip nicdark_btn nicdark_bg_violet medium nicdark_radius_top white ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-1">Executive Board</a></li>
                    <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-2" aria-labelledby="ui-id-2" aria-selected="false"><a title="Alumni Office" href="#tabs-2" class="nicdark_tooltip nicdark_btn nicdark_bg_green medium nicdark_radius_top white ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-2">Alumni Office</a></li>
                </ul>

                <div class="nicdark_tabs nicdark_bg_grey nicdark_radius nicdark_shadow">
                    <div class="nicdark_margin20 ui-tabs-panel ui-widget-content ui-corner-bottom" id="tabs-1" aria-labelledby="ui-id-1" role="tabpanel" aria-expanded="true" aria-hidden="false">
                        <p>
                            The Board of Directors is the governing body, entrusted with the management of affairs of the association as stipulated under Sec 2(c) of the Societies Registration Act 2001.
                        </p>
                    </div>

                    <div class="nicdark_margin20 ui-tabs-panel ui-widget-content ui-corner-bottom" id="tabs-2" aria-labelledby="ui-id-2" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
                        <p>
                            Association has a dedicated office in the SRKREC premises, with the support of college management, and recruited a full time staff (Co-ordinator) to take care of day to day alumni operations. Co-ordinator works under the guidance of Chief Operating Officer in running the Alumni operations.
                        </p>
                    </div>

                </div>

            </div>
            <!--end nicdark_tabs-->


        </div>
        <div class="grid grid_4">
            <div class="nicdark_archive1 nicdark_bg_grey nicdark_radius nicdark_shadow">
                <div class="nicdark_margin20 nicdark_relative">
                    <a href="#" class="nicdark_displaynone_ipadpotr nicdark_btn_icon nicdark_bg_blue extrabig nicdark_radius_circle white nicdark_absolute nicdark_shadow"><i class="icon-location-outline"></i></a>
                    <div class="nicdark_activity nicdark_marginleft100 nicdark_disable_marginleft_ipadpotr">
                        <h4>Office address</h4>
                        <div class="nicdark_space20"></div>
                        <p style="text-align:left;">SRKR Engineering College,</p>
                        <p style="text-align:left;">1st Floor, Z-Block(General Amenities Building)</p>
                        <p style="text-align:left;">
                            China Amiram, Bhimavaram,<br />
                            West Godavari Dt.,<br />
                            Andhra Pradesh-534204, India.<br />
                        </p>
                    </div>
                </div>
            </div>

            <div class="nicdark_space20"></div>

            <div class="nicdark_archive1 nicdark_bg_grey nicdark_radius nicdark_shadow">
                <div class="nicdark_margin20 nicdark_relative">
                    <a href="#" class="nicdark_displaynone_ipadpotr nicdark_btn_icon nicdark_bg_green extrabig nicdark_radius_circle white nicdark_absolute nicdark_shadow"><i class="icon-wristwatch"></i></a>
                    <div class="nicdark_activity nicdark_marginleft100 nicdark_disable_marginleft_ipadpotr">
                        <h4>Contact Information</h4>
                        <div class="nicdark_space20"></div>
                        <p>08816-223332,<br /> +91-9490782682</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="nicdark_space50"></div>
        <div class="nicdark_clearfix"></div>
        <div class="nicdark_clearfix">
            <h3 class="subtitle greydark">WHERE</h3>
            <div class="nicdark_space20"></div>
            <div class="nicdark_divider left small"><span class="nicdark_bg_blue nicdark_radius"></span></div>
            <div class="nicdark_space20"></div>

            <div class="nicdark_textevidence">
                <iframe height="350" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDGGTwayf2F4g5d7LiT-Kf2oyGgr8O6OkQ&q=SRKR Engineering College Alumni Association, China Amiram, Bhimavaram - 534204 West Godavari Dt., Andhra Pradesh, India" class="nicdark_iframe nicdark_margintop40_negative nicdark_marginbottom90_negative"></iframe>
            </div>
        </div>

        <div class="nicdark_space50"></div>
    </div>


</section>
