@{
    ViewBag.Title = "ProfileCompleted";
}
<section id="nicdark_parallax_title" class="nicdark_section nicdark_imgparallax nicdark_parallaxx_img8" style="background-position: 50% 0px;">

    <div class="nicdark_filter greydark">

        <!--start nicdark_container-->
        <div class="nicdark_container nicdark_clearfix">

            <div class="grid grid_12">
                <div class="nicdark_space100"></div>
                <div class="nicdark_space100"></div>
                <h1 class="white subtitle">Waiting for Admin Approval</h1>
                <div class="nicdark_space10"></div>
                <div class="nicdark_divider left big"><span class="nicdark_bg_white nicdark_radius"></span></div>
                <div class="nicdark_space40"></div>
                <div class="nicdark_space50"></div>
            </div>

        </div>
        <!--end nicdark_container-->

    </div>

</section>

<section class="nicdark_section">
    <div class="nicdark_container nicdark_clearfix">
        <div class="nicdark_space20"></div>

        <div class="grid grid_12 nicdark_bg_grey nicdark_shadow nicdark_radius nicdark_relative">
            <div align="center">
                <div class="nicdark_space20"></div>
                <p style="text-align:center">
                    Your Account is awaiting for admin approval ...
                </p>
                <div class="nicdark_space20"></div>
                <a href="@Url.Action("BasicInformation", "AlumniProfileUpdate", new {@area="" })" class="nicdark_btn nicdark_bg_green medium nicdark_shadow nicdark_radius white nicdark_margin10">Profile Edit / Update</a>
                <div class="nicdark_space20"></div>
            </div>
        </div>
        <div class="nicdark_space60"></div>
    </div>
</section>
