
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_SRKRDesignLayout.cshtml";
}


<!--start section-->
<section class="nicdark_section nicdark_margintop113">

    <!--start nicdark_container-->
    <div class="nicdark_container nicdark_clearfix">

        <div class="grid grid_12 percentage nomargin new-menu-bar">
            <div class="nicdark_textevidence center">
                <div class="nicdark_textevidence nicdark_bg_blue nicdark_shadow nicdark_radius_left grid_2">
                    <div class="nicdark_textevidence">
                        <div class="nicdark_margin30">
                            <h2 class="white subtitle"><a class="white" href="#">White Board</a></h2>
                        </div>
                        <i class="nicdark_zoom icon-pencil-2 nicdark_iconbg left extrabig blue nicdark_displaynone_ipadland nicdark_displaynone_ipadpotr"></i>
                    </div>
                </div>
                <div class="nicdark_textevidence nicdark_bg_yellow nicdark_shadow grid_2">
                    <div class="nicdark_textevidence">
                        <div class="nicdark_margin30">
                            <h2 class="white subtitle"><a class="white" href="#">Events</a></h2>
                        </div>
                        <i class="nicdark_zoom icon-money-1 nicdark_iconbg left extrabig yellow nicdark_displaynone_ipadland nicdark_displaynone_ipadpotr"></i>
                    </div>
                </div>
                <div class="nicdark_textevidence nicdark_bg_orange nicdark_shadow grid_2">
                    <div class="nicdark_textevidence">
                        <div class="nicdark_margin30">
                            <h2 class="white subtitle"><a class="white" href="#">Jobs</a></h2>
                        </div>
                        <i class="nicdark_zoom icon-graduation-cap-1 nicdark_iconbg left extrabig orange nicdark_displaynone_ipadland nicdark_displaynone_ipadpotr"></i>
                    </div>
                </div>
                <div class="nicdark_textevidence nicdark_bg_yellow nicdark_shadow grid_2">
                    <div class="nicdark_textevidence">
                        <div class="nicdark_margin30">
                            <h2 class="white subtitle"><a class="white" href="#">Donations</a></h2>
                        </div>
                        <i class="nicdark_zoom icon-doc nicdark_iconbg left extrabig green nicdark_displaynone_ipadland nicdark_displaynone_ipadpotr"></i>
                    </div>
                </div>
                <div class="nicdark_textevidence nicdark_bg_blue nicdark_shadow grid_2">
                    <div class="nicdark_textevidence">
                        <div class="nicdark_margin30">
                            <h2 class="white subtitle"><a class="white" href="#">Memories</a></h2>
                        </div>
                        <i class="nicdark_zoom icon-comment-2 nicdark_iconbg left extrabig green nicdark_displaynone_ipadland nicdark_displaynone_ipadpotr"></i>
                    </div>
                </div>
                <div class="nicdark_textevidence nicdark_bg_green nicdark_shadow nicdark_radius_right grid_2">
                    <div class="nicdark_textevidence">
                        <div class="nicdark_margin30">
                            <h2 class="white subtitle"><a class="white" href="#">Profile</a></h2>
                        </div>
                        <i class="nicdark_zoom icon-user nicdark_iconbg left extrabig green nicdark_displaynone_ipadland nicdark_displaynone_ipadpotr"></i>
                    </div>
                </div>
                <div class="nicdark_space5"></div>
            </div>
        </div>

    </div>
    <!--end nicdark_container-->

</section>
<!--end section-->
