
@{
    ViewBag.Title = "ErrorPage";
    Layout = "~/Views/Shared/_SRKRDesignLayout.cshtml";
}

<section class="nicdark_section nicdark_imgparallax nicdark_parallaxx_img2" id="nicdark_parallax_title" style="background-position: 50% 0px;">
    <div class="nicdark_filter greydark">
        <!--start nicdark_container-->
        <div class="nicdark_container nicdark_clearfix">
            <div class="grid grid_12">
                <div class="nicdark_space100"></div>
                <div class="nicdark_space100"></div>
                <div class="nicdark_space100"></div>
                <h1 style="font-size:120px; line-height:120px;" class="white center subtitle">404</h1>
                <div class="nicdark_space20"></div>
                <h1 class="white center subtitle">PAGE NOT FOUND</h1>
                <div class="nicdark_space20"></div>
                <div class="nicdark_focus center">
                    <a href="~/Home/Index" class="nicdark_btn nicdark_bg_orange medium nicdark_shadow nicdark_radius white nicdark_press"><i class="icon-home"></i>&nbsp;&nbsp;&nbsp;RETURN TO HOME</a>
                </div>
                <div class="nicdark_space100"></div>
                <div class="nicdark_space100"></div>
            </div>
        </div>
        <!--end nicdark_container-->
    </div>

</section>



