@model IEnumerable<AluminiWebApp.Controllers.Employee>

@{
    Layout = "~/Views/Shared/_SRKRLayout.cshtml";
}
@using GridMvc.Html
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
@*<script src="~/Scripts/bootstrap.min.js"></script>*@
<script src="~/Scripts/gridmvc.js"></script>
<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>

        <div class="code-cut">
            @Html.Grid(Model).Columns(columns =>
                    {
                        columns.Add(c => c.id).Titled("User ID").Filterable(true);
                        columns.Add(c => c.TicketTypeHeading).Titled("Event Name").Filterable(true);
                        columns.Add()
                        .Encoded(false)
                        .Sanitized(false)
                        .SetWidth(30)
                        .RenderValueAs(o => Html.ActionLink("Edit", "Edit", new { id = o.id }));

                    }).WithPaging(3).Sortable(true)
        </div>

    </div>
</body>
</html>
